
@tailwind base;
@tailwind components;
@tailwind utilities;

/* تخصيص شريط التمرير */
.custom-scrollbar::-webkit-scrollbar { width: 8px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #2a3942; border-radius: 4px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #3b4a52; }

html, body { height: 100%; }
