# Server-wide
REGISTRY=
IMAGE_NAME=mutabaka
SERVER_PATH=/srv/mutabaka

# Backend env
SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://49.13.133.189
DJANGO_SETTINGS_MODULE=mujard.settings

# Database (if later needed)
# DATABASE_URL=postgres://user:pass@db:5432/app

# Redis (channels)
# For now we rely on in-memory channel layer; configure below to enable Redis
# CHANNEL_LAYERS_URL=redis://redis:6379/0

# Next.js
NEXT_PUBLIC_PUSHER_KEY=
NEXT_PUBLIC_PUSHER_CLUSTER=
